
telegram_bot/data_scraping/client-secret.json
telegram_bot/data_scraping/__pycache__/search_helper.cpython-311.pyc
telegram_bot/data_scraping/__pycache__/__init__.cpython-311.pyc
telegram_bot/__pycache__/quizfuncs.cpython-311.pyc
telegram_bot/__pycache__/greetings.cpython-311.pyc
telegram_bot/__pycache__/functions.cpython-311.pyc
telegram_bot/__pycache__/__init__.cpython-311.pyc
requests/413553377_user_photo.jpg
logs/log_2023-08-06_17-08.txt
logs/log_2023-08-06_10-08.txt
logs/log_2023-08-05_21-08.txt
telegram_bot/db/69UI_questions4tgBot_withClues_small.tsv
logs/log_2023-08-05_20-08.txt
logs/log_2023-08-04_20-08.txt
logs/log_2023-08-04_19-08.txt
logs/log_2023-08-04_18-08.txt
__pycache__/alive1.cpython-311.pyc
demodata/__pycache__/__init__.cpython-311.pyc
logs/log_2023-08-03_19-08.txt
logs/log_2023-08-04_16-08.txt
telegram_bot/db/69UI_questions4tgBot_withClues_vice.tsv
telegram_bot/db/__pycache__/__init__.cpython-311.pyc
telegram_bot/db/__pycache__/conn_pool.cpython-311.pyc
telegram_bot/db/__pycache__/db.cpython-311.pyc
telegram_bot/db/__pycache__/db_helper.cpython-311.pyc
telegram_bot/db/input_file.txt
telegram_bot/db/input_file.txt_vice
telegram_bot/db/input_file.txtanother_text_file.txt
telegram_bot/db/input_file.txtsome_text_file.txt
*.txt
telegram_bot/__pycache__/ticketfuncs.cpython-311.pyc
your_database.db
your_database.db
